#container{
    display:grid;
    outline-style: solid;
    grid-template-columns: repeat(16,6.25%);
    grid-template-rows: repeat(16, 6.25%);
    height: 20em;
    width: 20em;
}

button{
    margin:2em;
}
